# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# VS Code / PyCharm
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

frontend/node_modules/

staticfiles/
