body {
  background: linear-gradient(to bottom, #87CEFA, #00BFFF, #1E90FF, #4682B4);
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
